<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boke.Mapper.LabelsMapper">

    <select id="LabelsCloud" resultType="com.example.boke.Dto.LabelsCloudDto">
        SELECT l.label_id, l.label_name, COUNT(sal.article_id) AS article_count
            FROM labels l
            LEFT JOIN set_article_label sal ON l.label_id = sal.label_id
            GROUP BY l.label_id, l.label_name
    </select>
</mapper>