<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boke.Mapper.UserMapper">

    <select id="doLogin" resultType="com.example.boke.pojo.User">
        select * from user where user_name=#{userName}
    </select>

    <update id="updateUer" parameterType="com.example.boke.pojo.User">
        UPDATE user
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="userPassword != null">
                user_password = #{userPassword},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail},
            </if>
            <if test="userProfilePhoto != null">
                user_profile_photo = #{userProfilePhoto},
            </if>
            <if test="userTelephoneNumber != null">
                user_telephone_number = #{userTelephoneNumber},
            </if>
            <if test="userNickname != null">
                user_nickname = #{userNickname},
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>


    <!--统计文章数量。点赞量，评论量-->
    <select id="getUserStatistics" resultType="com.example.boke.Dto.UserStatisticsDto">
        SELECT
            u.user_id,
            u.user_name,
            u.user_profile_photo,
            COUNT(DISTINCT a.article_id) AS articles_count,
            SUM(a.article_comment_count) AS total_comments,
            SUM(a.article_like_count) AS total_likes
        FROM
            user u
                LEFT JOIN
            articles a ON u.user_id = a.user_id
        WHERE
            u.user_id = #{userId}
        GROUP BY
            u.user_id, u.user_name;
    </select>
</mapper>